Source: python-boto
Section: python
Priority: optional
Maintainer: Eric Evans <eevans@debian.org>
Build-Depends: debhelper (>= 7), python-support (>= 0.6)
Homepage: http://code.google.com/p/boto/
Vcs-Git: git://git.debian.org/git/users/eevans/python-boto
Vcs-Browser: http://git.debian.org/?p=users/eevans/python-boto
Standards-Version: 3.9.1

Package: python-boto
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Provides: ${python:Provides}
Description: Python interface to Amazon's Web Services
 Boto is a Python interface to the infrastructure services available from
 Amazon.
 .
 Boto supports the following services:
  * Elastic Compute Cloud (EC2)
  * SimpleDB
  * Simple Storage Service (S3)
  * CloudFront
  * Simple Queue Service (SQS)
  * Elastic MapReduce
  * Relational Database Service (RDS)
